<html>

<head>
<title>USER</title>
<style>
#header {
    text-align:center;
    padding:5px;
	font-size:20px;
}
#blank
{
	width:300px;
	height:450px;
	float:left;
}
#section{
	width:500px;
	height:450px;
	float:left;
}
#nav{
	width:350px;
	height:450px;
	float:left;
}
#blank2
{
	width:97px;
	height:450px;
	float:left;
}
</style>
</head>
<body>
<div id = "header">
<h1 align = "center"> USER </h1>
</div>
<br/>
<div id = "blank">
</div>

<div id = "section">
<br/>
<h2> Login </h2>
<p>username:<br/>
<input type = "text" name = "username">
<br/>
password:<br/>
<input type = "password" name = "password">
<br/>
<br/>
<input type = "button" value = "Submit" onclick = "location.href = '/'"/>
</section>
</p>
</div>

<div id = "nav">
<br/>
<h2> Register </h2>
<p>no account yet?</p>
<br/>
<input type = "button" value = "Register" onclick = "location.href = '/'">
</div>

<div id = "blank2">
<br/>
<input type = "button" value = "Back" onclick = "location.href = '/'"/>
</div>
</body>
</html>
