<html>

<head>
<title>USER</title>

</head>
<body>


<form name="user" action="http://127.0.0.1:3000/login" method="post">

<div id = "section">
<br/>
<h2> Login </h2>
<p>username:<br/>
<input type = "text" name = "username" id = "username">
<br/>
password:
<br/>
<input type = "password" name = "password" id = "password" >
<br/>
<br/>
<input type="submit" id="id" value="Submit"/>
</section>
</p>
</div>

</body>


 

</html>