<html>

<head>
<title>USER</title>
<style>
#header {
    text-align:center;
    padding:5px;
	font-size:20px;
}
#blank
{
	width:300px;
	height:450px;
	float:left;
}
#section{
	width:500px;
	height:450px;
	float:left;
}
#nav{
	width:350px;
	height:450px;
	float:left;
}
#blank2
{
	width:97px;
	height:450px;
	float:left;
}
</style>
</head>
<body>
<div id = "header">
<h1 align = "center"> USER </h1>
</div>
<br/>
<div id = "blank">
</div>

<form name="user" action="#" method="get">

<div id = "section">
<br/>
<h2> Login </h2>
<p>username:<br/>
<input type = "text" name = "username" id = "username">
<br/>
password:<br/>
<input type = "password" name = "pwd" id = "pwd" >
<br/>
<br/>
<input type="submit" id="id" value="Submit" onclick="return sub()"/>
</section>
</p>
</div>

<div id = "nav">
<br/>
<h2> Register </h2>
<p>no account yet?</p>
<br/>
<input type = "button" value = "Register" onclick = "location.href = '/'">
</div>

<div id = "blank2">
<br/>

<input type = "button" value = "Back" onclick = "location.href = '/'"/>
</div>
</body>

<script>
function sub(){
    var username = document.getElementById("username").value
    var pwd = document.getElementById("pwd").value
    alert("username: " + username + " " + "password: " + pwd);
}
</script>
 
</form>
</html>
